# Version Control
.git
.gitignore

# Node.js
node_modules
npm-debug.log
yarn-error.log
.next
out
.turbo
build
dist

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt

# OS Files
.DS_Store
Thumbs.db

# Logs & Data
backend_logs/
*.log

# Docker
docker-compose.yml
.dockerignore

# IDEs
.vscode
.idea
